fastapi
uvicorn[standard]
sqlalchemy
sqlalchemy-utils
psycopg2-binary
alembic
passlib[bcrypt]
python-jose[cryptography]
python-dotenv
pydantic[email]
pydantic-settings
python-multipart
aiofiles
pandas
scikit-learn
joblib
langchain
langchain-core
langchain-google-genai
google-generativeai
